/.metadata/
.metadata
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
*.ser
